<main class="continer">
  <div class="row">
    <div class="mx-auto">
<h2>管理者ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table>
  <tr class="field">
    <th><%= f.label "メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr class="field">
    <th><%= f.label "パスワード" %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
  </div>
 </div>
</main>