<main class="container">
  <div class="row">
  <div width="90%", class="mx-auto">
  <h1 class="bg-light">注文詳細画面</h1>
  <table>
    <tr>
      <th>購入者</th>
      <td><%= link_to @user.first_name, admins_user_path(@user.id) %><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime(' %Y/%m/%d ') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td>銀行振込</td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <td>ステータス</td>
    </tr>
  </table>
  <div class="container">
  <div class="row">
  <table class="col-md-7">
    <tr class="bg-light">
      <th class="border">商品名</th>
      <th class="border">単価（税込）</th>
      <th class="border">数量</th>
      <th class="border">小計</th>
      <th class="border">制作ステータス</th>
    </tr>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td class="border"><%= order_detail.item.name %></td>
      <td class="border"><%= taxin_price = (order_detail.item.price*1.1).floor(0) %></td>
      <td class="border"><%= order_detail.amount %></td>
      <td class="border"><%= taxin_price*order_detail.amount %></td>
      <td class="border">ステータス</td>
    </tr>
    <% end %>
  </table>
  <table class="col-md-5">
    <tr>
      <th class="border bg-light">商品合計</th>
      <td class="border"><%= @order.total_payment %></td>
    </tr>
    <tr>
      <th class="border bg-light">送料</th>
      <td class="border">800</td>
    </tr>
    <tr>
      <th class="border bg-light">請求金額合計</th>
      <th class="border"><%= @order.total_payment+800 %></th>
    </tr>
  </table>
  </div>
  </div>
</main>