<!DOCTYPE html>
<html>
  <head>
    <title>NAGANOCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
  <header class="navbar-dark bg-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-2" href="/">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  　　　　　　<span class="navbar-toggler-icon"></span>
　　　　　</button>
　　　　　<% if user_signed_in? %>
　　　　　<p>ようこそ会員さん！</p>
　　　　　<% end %>
　　　　　<div class="navbar-collapse" id="navbarNavDropdown">
 　　　　　　　 <ul class="navbar-nav ml-auto">
  <% if admin_signed_in? %>
      <li class="nav-link -light">
        <%= link_to "商品一覧", admins_items_path %>
      </li>
      <li class="nav-link text-light">
        <%= link_to "会員一覧", admins_users_path %>
      </li>
      <li class="nav-link text-light">
        <%= link_to "注文一覧", admins_orders_path %>
      </li>
      <li class="nav-link text-light">
        <%= link_to "ジャンル一覧", about_path %>
      <li class="nav-link text-light">
        <%= link_to "管理者ログアウト",  destroy_admin_session_path, method: :delete %>
      </li>
  <% elsif user_signed_in? %>
      <li class="nav-link text-light">
        <%= link_to "マイページ", publics_my_page_path %>
      </li>
      <li class="nav-link text-light">
        <%= link_to "商品一覧", publics_items_path %>
      </li>
      <li class="nav-link text-light">
        <%= link_to "カート", publics_cart_items_path %>
      </li>
      <li class="nav-link text-light">
        <i></i>
        <%= link_to "ユーザーログアウト",  destroy_user_session_path, method: :delete %>
      </li>
  <% else %>
      <li class="nav-link link-light">
       <i></i>
        <%= link_to "About", publics_homes_about_path %>
      </li>
      <li class="nav-link text-light">
        <i></i>
        <%= link_to "商品一覧",  publics_items_path %>
      </li>
      <li class="nav-link text-light">
        <i></i>
        <%= link_to "新規登録",  new_user_registration_path %>
      </li>
      <li class="nav-link text-light">
        <i></i>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
  <% end %>
      </ul>
      </div>
      </div>
      </nav>
    </header>

    <%= yield %>

   <footer class="footer">
   <div class="container">
    <div class="row align-items-end">
     <div class="mx-auto">
       <p>CopyRight NAGANOCake.inc</p>
     </div>
    </div>
    </div>
    </footer>
  </body>
</html>
